.m-top-4 {
  margin-top: 5.5rem !important;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;

  div {
    padding: 8px;
    text-align: center;
  }
}
.container {
  width: 100% !important;
}

.filter-btn {
  background: #fff !important;
  color: #484545 !important;
  border: 0;
  border-radius: 3px !important;
  cursor: pointer;
  padding: 4px !important;
  width: 100%;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  border: 1px solid #8c8c8c;
  padding: 10px !important;
}
.student-list {
  margin: 4px, 4px;
  padding: 4px;
  width: 100%;
  white-space: nowrap;
  overflow: auto;
  max-height: 385px;
}

table {
  color: #303972 !important;
  background: #fff;
  border-radius: 12px;
  border: none;
  tr {
    padding: 10px;
    border-bottom: solid 1px #f5f2f2 !important;
  }
  th,
  td {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #303972;
  }
  th {
    font-weight: 600;
  }
}
.img-btn {
  cursor: pointer;
  width: 16px;
}

.title {
  color: #414141;
  font-size: 16px;
}

::ng-deep {
  .pagination {
    margin-bottom: 0;
  }
  .page-item:first-child .page-link {
    border: none;
    span {
      font-size: 1.5rem;
    }
  }
  .page-item:last-child .page-link {
    border: none;
    span {
      font-size: 1.5rem;
    }
  }
  .page-item.active .page-link {
    background-color: var(--primaryColor);
    border-color: var(--primaryColor);
  }
  .page-link {
    align-items: center;
    border-radius: 50%;
    color: #a098ae;
    margin: 10px;
    width: 30px;
    display: flex;
    justify-content: center;
    line-height: 16px;
    height: 30px;
    text-align: center;
  }
}

.filter-bx {
  label {
    font-size: 14px;
    line-height: 21px;
    color: #434343;
  }
}

.fa-solid {
  font-size: 16px;
  padding-left: 15px;
}
.text-gray-100 {
  color: #414141;
}
.p-65 {
  padding: 12px 65px;
}
.verify {
  border-left: solid 3px #04bc00;
}
.warning {
  border-left: solid 3px #d64040;
}
.btn-warn {
  background: none;
  border: solid 1px #d64040;
  color: #d64040;
  padding: 6px 31px;
  border-radius: 3px;
}
.pr-22 {
  padding-right: 22px;
}
.text-success {
  color: #28a745 !important;
}
.py-15 {
  padding: 12px 0;
  font-size: 14px;
}
.text-underline {
  text-decoration: underline;
}

// new style
.process-model li:first-child:after {
  margin-left: 31.8%;
  width: 47%;
}
.iframe-container1 {
  position: relative;
  width: 382px;
  height: 156px;
  border-radius: 8px;
}
.responsive-iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

label.select-label {
  color: #999;
  font-size: 10px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: -10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.dynamic-form {
  label {
    text-transform: capitalize;
  }
}

.issue-credential-bx {
  box-shadow: 0px 4px 44px 0px #00000040;
  padding: 20px;
  background: #fff;
  margin-right: 25px;
  margin-bottom: 20px;
  width: 35%;
  border-radius: 6px;
}

.grey-bx {
  box-shadow: 0px 8px 11px 0px #00000029;
  background: #ebebeb;
  padding: 10px;
  width: 67%;
  align-items: center;
  margin: 0 auto;
  color: #007bff;
  border-radius: 5px;
}

.blue-bx {
  box-shadow: 0px 8px 11px 0px #00000029;
  background: #007bff;
  padding: 10px;
  width: 67%;
  align-items: center;
  margin: 0 auto;
  color: #fff;
  border-radius: 5px;
}

.d-flex-wrap {
  flex-wrap: wrap;
}

.flex-justify-center {
  justify-content: center;
}

.text-decor-underline {
  text-decoration: underline;
}

.success-btn {
  background: #39b367 !important;
  padding: 8px 25px;
  border: none;
  border-radius: 6px;
  color: #fff;
  font-size: 14px;
}

.danger-btn {
  background: #d64040 !important;
  padding: 8px 25px;
  border: none;
  border-radius: 6px;
  color: #fff;
  font-size: 14px;
}

.selected-bx {
  background: #007bff;
  color: #ffffff !important;
}

.breadcrumb {
  background: none !important;
}

ol {
  padding-left: 0 !important;
}

.breadcrumb-item a {
  color: #393333 !important;
  font-size: 15px;
}

.breadcrumb-item.active {
  color: #007bff;
}

.fa-angle-double-right {
  line-height: 1.6;
  padding: 0 12px;
  color: #a5a4a4 !important;
}

.blue-btn {
  background: #007bff;
  box-shadow: 0px 8.245615005493164px 11.543859481811523px 0px #00000029;
  padding: 8px 25px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  color: #fff;
}

.grey-btn {
  background: #7575897d;
  box-shadow: 0px 8.245615005493164px 11.543859481811523px 0px #00000029;
  padding: 8px 25px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  color: #fff;
}

.did-floating-label-content {
  position: relative;
  margin-bottom: 20px;

  .did-floating-label {
    color: #1e4c82;
    font-size: 13px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 31px;
    top: 26px;
    padding: 0 5px;
    background: #fff;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
  input,
  .did-floating-select {
    font-size: 12px;
    display: block;
    width: 100%;
    height: 41px;
    padding: 0 20px;
    background: #fff;
    color: #323840;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid #d2d2d2 !important;
    &:focus {
      outline: 2px solid #d2d2d2 !important;
      ~ .did-floating-label {
        top: 5px;
        font-size: 13px;
      }
    }
  }
  .did-floating-label-select {
    top: -1px !important;
    font-size: 12px;
  }

  select.did-floating-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  select.did-floating-select::-ms-expand {
    display: none;
  }

  // input:not(:placeholder-shown) ~ .did-floating-label {
  //   top:25px;
  //   font-size:13px;
  // }
  .did-floating-select:not([value=""]):valid ~ .did-floating-label {
    top: 23px;
    font-size: 13px;
  }
  .did-floating-select[value=""]:focus ~ .did-floating-label {
    top: 11px;
    font-size: 13px;
  }
  .did-floating-select:not([multiple]):not([size]) {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='6' viewBox='0 0 8 6'%3E%3Cpath id='Path_1' data-name='Path 1' d='M371,294l4,6,4-6Z' transform='translate(-371 -294)' fill='%23003d71'/%3E%3C/svg%3E%0A");
    background-position: right 15px top 50%;
    background-repeat: no-repeat;
  }
}

.did-error-input {
  .did-floating-input,
  .did-floating-select {
    border: 2px solid #9d3b3b;
    color: #9d3b3b;
  }
  .label {
    font-weight: 600;
    color: #9d3b3b;
  }
  .did-floating-select:not([multiple]):not([size]) {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='6' viewBox='0 0 8 6'%3E%3Cpath id='Path_1' data-name='Path 1' d='M371,294l4,6,4-6Z' transform='translate(-371 -294)' fill='%239d3b3b'/%3E%3C/svg%3E%0A");
  }
}

ul {
  padding-left: 1rem;
}
