<div class="mt-6 container">
  <!---breadcrumb code by ekta-->

  <!-- <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Issue Credential</a></li><i class="fa fa-angle-double-right"></i>
      <li class="breadcrumb-item"><a href="#">Issue Credential to New Students</a></li><i class="fa fa-angle-double-right"></i>
      <li class="breadcrumb-item active" aria-current="page">Bulk Issuance</li>
    </ol>
  </nav> -->
  <div class="mt-4 ">
    <h5 class="fs-18">{{'ISSUE_NEW_CREDENTIALS' | translate}}</h5>
    <div>
      <p class="gray-shade-0">{{'ISSUE_NEW_CREDENTIALS_NOTE' | translate}}</p>
      <ng-container *ngIf="!isModeSelected">
        <div class="pb-2 brown-Shade-0 text-center fs-20 pb-5 pt-3 text-decor-underline font-600">
          {{'TO_WHOM_ISSUING_CREDENTIALS' | translate}}</div>
        <div class="d-flex d-flex-wrap flex-justify-center">
          <div class="issue-credential-bx">
            <div class="fs-14 gray-shade-0">
              {{'SELECT_ISSUE_CREDENTIALS_FOR_FIRST_TIME' | translate}}
              <div class="grey-bx selected-bx d-flex mt-3"
                [class.primary-bg]="issueCredentialStudentType === 'new-student'">
                <div><input type="radio" name="issueCredentialTo" value="new-student"
                    (change)="issueCredentialStudentType = 'new-student'"></div>
                <div class="fs-14 pl-4 blue-text-shade-0">{{'ISSUE_CREDENTIALS_FOR_NEW_STUDENTS' | translate}}</div>
              </div>
            </div>
          </div>
          <div class="issue-credential-bx">
            <div class="fs-14 gray-shade-0">
              {{'SELECT_FOR_PREVIOUSLY_ISSUED_CREDENTIALS' | translate}}
              <div class="grey-bx d-flex mt-3"
                [class.primary-bg]="issueCredentialStudentType === 'existing-student'">
                <div><input type="radio" name="issueCredentialTo" value="existing-student"
                    (change)="issueCredentialStudentType === 'existing-student'"></div>
                <div class="fs-14 pl-4 blue-text-shade-0">{{'ISSUE_CREDENTIALS_FOR_EXISTING_STUDENTS' | translate}}</div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="issueCredentialStudentType">
          <div class="pb-2 brown-Shade-0 text-center fs-20 pb-3 text-decor-underline pt-5">
            {{'WHAT_IS_THE_MODE_OF_ISSUANCE' | translate}}
          </div>
          <div class="d-flex d-flex-wrap flex-justify-center">
            <div class="issue-credential-bx">
              <div class="fs-14 gray-shade-0">
                {{'SELECT_BULK_ISSUANCE_NOTE' | translate}}
                <div class="grey-bx d-flex mt-3 d-flex-wrap">
                  <div><input type="radio" name="credIssuanceMode" value="bulk" (change)="issuanceMode = 'bulk'"></div>
                  <div class="brown-shade-3 fs-14 pl-4">{{'BULK_ISSUANCE' | translate}}</div>
                </div>
              </div>
            </div>
            <div class="issue-credential-bx">
              <div class="fs-14 gray-shade-0">
                {{'SELECT_INDIVIDUAL_ISSUANCE' | translate}}.
                <div class="grey-bx d-flex mt-3 d-flex-wrap">
                  <div><input type="radio" name="credIssuanceMode" value="single" (change)="issuanceMode = 'single'">
                  </div>
                  <div class="brown-shade-3 fs-14 pl-4">{{'INDIVIDUAL_ISSUANCE' | translate}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center mb-5">
          <!-- <div class="fs-16 py-3 text-center">Please Click Proceed if you want <span class="success-text">'Bulk
              Issuance’</span>
            of credentials to <span class="success-text">‘New Students’!</span></div> -->
          <button type="button" class="btn btn-primary mx-auto" [disabled]="!issuanceMode"
            (click)="showIssuanceForm()">{{'PROCEED' | translate}}</button>
        </div>
      </ng-container>
    </div>
<!---button code by ekta-->
    <!-- <div class="d-flex justify-content-end pr-3">
      <button type="button" class="grey-btn mr-4 px-5">Back</button>
      <button type="button" class="blue-btn">Issue Credentials</button>
    </div> -->

    <div class="d-flex filter-bx py-3" *ngIf="isModeSelected">
      <div class="floating-form">
        <div class="floating-label">
          <select class="floating-select" aria-label="Default select example" [(ngModel)]="model.schema"
            (ngModelChange)="onModelChange()">
            <!-- <option></option> -->
            <option [ngValue]="undefined" [disabled]="true">{{'SELECT_CREDENTIAL_TYPE' | translate}}</option>
            <option *ngFor="let schema of schemas" [value]="schema.schema_id">{{schema.schema_name}}</option>
          </select>
          <i class="fa fa-info-circle px-2 d-block" [ngbPopover]="credTypePop" placement="bottom"></i>
          <span class="highlight"></span>
          <label class="select-label">{{'CREDENTIAL_TYPE' | translate}}</label>
          <ng-template #credTypePop>
            <ul>
              <li>{{'ENROLLMENT_INFO_1' | translate}}</li>
              <li>{{'ENROLLMENT_INFO_2' | translate}}</li>
              <li>{{'ENROLLMENT_INFO_3' | translate}}</li>
            </ul>
          </ng-template>
        </div>

      </div>
      <div class="pl-2 floating-label" *ngIf="issuanceMode === 'bulk'">
        <label class="select-label">&nbsp;</label>
        <button class="filter-btn" (click)="downloadTemplate();raiseInteractEvent('download-csv-btn')">{{'DOWNLOAD_CSV'
          | translate}}&nbsp;&nbsp;
          <i class="fa fa-solid fa-file-download"></i>
        </button>
        <i class="fa fa-info-circle px-2 d-block" [ngbPopover]="downloadPop" placement="bottom"></i>
        <ng-template #downloadPop>
          <ul>
            <li>{{'DOWNLOAD_SAMPLE_NOTE' | translate}}</li>
          </ul>
        </ng-template>
      </div>
      <div class="pl-2 floating-label" *ngIf="issuanceMode === 'bulk'">
        <label class="select-label">&nbsp;</label>
        <input #fileUpload [accept]="'.csv'" type="file" class="file-input" (click)="$event.target.value=null"
          (change)="importDataFromCSV($event)" hidden="true" />
        <button class="filter-btn" (click)="openFileBrowser();raiseInteractEvent('upload-csv-btn')">{{'UPLOAD_CSV' |
          translate }}&nbsp;
          <i class="fa fa-solid fa-file-upload"></i>
        </button>
        <i class="fa fa-info-circle px-2 d-block" [ngbPopover]="uploadPop" placement="bottom"></i>
        <ng-template #uploadPop>
          <ul>
            <li>{{'UPLOAD_SAMPLE_NOTE' | translate}}</li>
          </ul>
        </ng-template>
      </div>
    </div>
  </div>
  <!-- <hr> -->

  <!-- <div class="d-flex justify-content-center" *ngIf="!csvObject?.length && !issueSingleRecord">
    <button class="btn btn-primary" (click)="showSingleCredentialForm()">
      <i class="fa fa-regular fa-user-plus"></i>&nbsp;&nbsp;{{'ISSUE_CREDENTIALS_FOR_SINGLE_STUDENT' | translate}}
    </button>
  </div> -->
  <app-data-table [data]="csvObject" *ngIf="csvObject" (issueCredentials)="onIssueCredentials($event)"></app-data-table>

  <div *ngIf="isModeSelected && issuanceMode === 'single' && fields?.length" class="dynamic-form">
    <form [formGroup]="singleIssueForm" (ngSubmit)="submitDynamicForm($event)">
      <div class="row">
        <div *ngFor="let field of fields" class="col-6 pt-3">
          <label [for]="field.key">{{field.label}}<span class="text-danger" *ngIf="field.isRequired">*</span></label>
          <input type="text" [formControlName]="field.key" class="form-control" [name]="field.key"
            [placeholder]="field.label" />
          <p class="text-danger pt-2 mb-0"
            *ngIf="singleIssueForm.controls[field.key].dirty && singleIssueForm.controls[field.key].invalid">
            {{'PLEASE_ENTER_VALID' | translate : {value1: field.label} }}</p>
        </div>
      </div>
      <div class="d-flex justify-content-center mt-3">
        <button class="btn btn-primary" type="submit">{{'SUBMIT' | translate}}</button>
      </div>
    </form>
  </div>
</div>

<div class="text-center" *ngIf="strictLoader">
  <div class="center-loading">
    <div class="spinner-border">
    </div>
  </div>
</div>

<!-- Download Modal -->
<!-- <ng-template #downloadModal tabindex="-1" role="dialog" aria-labelledby="downloadModal">
  <div class="animate-bottom">
    <div class="modal-body">
      <p class="text-center mb-0 p-2 fs-16">
        <i style="color: green" class="fa far fa-check-circle"></i>
        &nbsp;&nbsp;&nbsp;{{'SUCCESSFULLY_DOWNLOADED' | translate}}!
      </p>
    </div>
  </div>
</ng-template> -->

<!-- Issue credential Success -->
<ng-template #singleCredIssueModal tabindex="-1" role="dialog" aria-labelledby="issue-credential-success"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-body text-center">
        <img src="assets/images/issue-credential.png" alt="issue-credential">

        <div class="success-text fs-18 font-500 pt-3 pb-3"> <i
            class="fa fa-check-circle fs-100 success-text pr-2"></i>{{'CREDENTIAL_ISSUED_SUCCESSFULLY' | translate}}!
        </div>
        <button type="button" class="success-btn text-white px-5" data-dismiss="modal"
          (click)="closeModal()">Ok</button>
      </div>
    </div>
  </div>
</ng-template>

<!-- Issue credential failed -->

<ng-template #issueCredFailedModal tabindex="-1" role="dialog" aria-labelledby="issue-credential-failed"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-body text-center">
        <img src="assets/images/issue-credential-fail.png" alt="issue-credential">

        <div class="danger-text fs-18 font-500 pt-3 pb-3"> <i
            class="fa fa-exclamation-triangle fs-100 danger-text pr-2"></i>{{'CREDENTIAL_ISSUANCE_FAILED' | translate}}
        </div>
        <button type="button" class="danger-btn text-white px-5" data-dismiss="modal" (click)="closeModal()">{{'OK' |
          translate}}</button>
      </div>
    </div>
  </div>
</ng-template>

<!-- Issuance Report -->

<ng-template #reportModal tabindex="-1" role="dialog" aria-labelledby="issue-credential-failed" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <modal-title class="text-center text-decor-underline font-600 fs-20 py-3">{{'ISSUANCE_REPORT' | translate}}</modal-title>
      <div class="modal-body text-center">
        <i class="fa fa-exclamation-triangle fs-90 text-danger"></i>

        <div class="success-text fs-20 font-600 pt-5"> 12 {{'CREDENTIAL_ISSUED_SUCCESSFULLY' | translate}}</div>
        <div class="danger-text fs-20 font-600  pb-3"> 10 {{'CREDENTIAL_ISSUANCE_FAILED' | translate}}</div>
        <button type="button" class="success-btn text-white px-5 mb-3" data-dismiss="modal"
          (click)="closeModal()">{{'OK' | translate}}</button>
        <div class="text-decor-underline"><a href="#">{{'CLICK_HERE_TO_DOWNLOAD_REPORT' | translate}}</a></div>
      </div>
    </div>
  </div>
</ng-template>