<div class="mt-6 container">
  <div class="mt-4 ">
    <h5 class="fs-18">{{'ISSUE_NEW_CREDENTIALS' | translate}}</h5>
    <div class="d-flex filter-bx py-3">
      <div class="floating-form">

      <div class="floating-label">
        <select class="floating-select" aria-label="Default select example" [(ngModel)]="model.schema"
          (ngModelChange)="onModelChange()" #grade="ngModel">
          <option></option>
          <!-- <option [ngValue]="undefined" [disabled]="true">{{'SELECT_SCHEMA' | translate}}</option> -->
          <option *ngFor="let schema of schemas" [value]="schema.schema_id">{{schema.schema_name}}</option>
        </select>
        <span class="highlight"></span>

        <label>{{'SELECT_SCHEMA' | translate}}</label> <!-- Select schema-->

      </div>
      </div>
      <div class="pl-2">
        <label>&nbsp;</label>
        <button class="filter-btn" (click)="downloadTemplate()"
          (click)="raiseInteractEvent('download-csv')">{{'DOWNLOAD_CSV' | translate}}&nbsp;&nbsp;
          <i class="fa fa-solid fa-file-download"></i></button>
      </div>
      <div class="pl-2">
        <label>&nbsp;</label>
        <input #fileUpload [accept]="'.csv'" type="file" class="file-input" (click)="$event.target.value=null"
          (change)="importDataFromCSV($event)" hidden="true" />
        <button class="filter-btn" (click)="openFileBrowser()">{{'UPLOAD_CSV' | translate }}&nbsp;
          <i class="fa fa-solid fa-file-upload"></i></button>
      </div>
    </div>
  </div>
  <hr>

<app-data-table [data]="csvObject" *ngIf="csvObject" (issueCredentials)="onIssueCredentials($event)"></app-data-table>
</div>

<div class="text-center" *ngIf="strictLoader">
  <div class="center-loading">
    <div class="spinner-border">
    </div>
  </div>
</div>

<ng-template #downloadModal tabindex="-1" role="dialog" aria-labelledby="downloadModal">
  <div class="animate-bottom">
    <div class="modal-body">
      <p class="text-center mb-0 p-2 fs-16">
        <i style="color: green" class="fa far fa-check-circle"></i>
        &nbsp;&nbsp;&nbsp;{{'SUCCESSFULLY_DOWNLOADED' | translate}}!
      </p>
    </div>
  </div>
</ng-template>