<div class="mx-2">
  <div class="">
    <div class="mt-4 pb-2 flex-center">
      <img src="assets/images/header.png" height="60" alt="header">
    </div>
    <div>
      <h3 class="text-center page-title text-blue text-thin-underline">{{title}}</h3>
      <div class="pt-3 text-grey1 fs-24 text-center text-underline"> {{'SELECT_USER_TYPE' | translate }} </div>
      <div class="text-center mt-3 pt-3 d-flex jc-content-center">
        <div class="square mr-5" (click)="openSignInModal('PRINCIPAL')">
          <img src="assets/images/user.svg" alt="" class="cursor-pointer">
          <div class="pt-2 fs-18 text-light font-inter font-weight-bold"> {{'PRINCIPAL' | translate }}</div>
          <img class="pt-3 cursor-pointer" src="assets/images/next-arrow.svg" height="44" alt="user">
        </div>
        <div class="square" (click)="openSignInModal('BEO')"><img src="assets/images/user.svg" alt=""
            class="cursor-pointer">
          <div class="pt-2 fs-18 text-light font-inter font-weight-bold">{{'BLOCK_EDUCATIONAL_OFFICER' | translate }}
          </div>
          <img class="pt-3 cursor-pointer" src="assets/images/next-arrow.svg" height="44" alt="user">
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #signInModal tabindex="-1" role="dialog" aria-labelledby="signInModal">
  <div class="animate-bottom">
    <div class="modal-header text-center">
      <h4 class="text-center modal-title w-100 text-primary font-weight-bold">{{'WELCOME' | translate}}!</h4>
      <span class="close cursor-pointer" (click)="closeModal()">&times;</span>
    </div>
    <div class="modal-body">
      <p class="text-center text-secondary">{{'WELCOME_LOGIN_NOTE' | translate}}.</p>
      <div class="d-flex flex-column">
        <button class="btn btn-primary mt-3" [routerLink]="['/login']" type="button"
          (click)="closeModal()">{{'LOGIN_USING_MOBILE_AND_OTP' | translate}} &nbsp;<i
            class="fa fa-solid fa-arrow-right"></i></button>
        <button class="btn btn-primary mt-2" type="button"
          (click)="registerUser();closeModal()">{{'REGISTER_AS_NEW_USER' | translate}} &nbsp;<i
            class="fa fa-solid fa-arrow-right"></i></button>
      </div>
    </div>
  </div>
</ng-template>