<main class="p-0 pl-2 bg-sch-img col-sm-9" style="margin-top: 90px;"></main>

<div class="mx-4">
  <h5 class="brown-Shade-0 fs-18 pb-0 pt-3 font-weight-bold">{{'VIEW_ISSUED_CREDENTIALS' | translate}}</h5>
  <p class="gray-shade-0">{{'VIEW_ALL_CREDENTIALS_ISSUED_BY_YOU_HERE' | translate}}</p>
  <div class="row filter-bx pt-2">
    <div class="col-md-3">
      <div class="">
        <div class="did-floating-label-content ">
          <select class="did-floating-select" id="schema" aria-label="Default select example" [(ngModel)]="model.schema"
            (ngModelChange)="onModelChange()">
            <option [ngValue]="undefined" [disabled]="true">{{'SELECT_CREDENTIAL_TYPE' | translate}}</option>
            <option *ngFor="let schema of schemas" [value]="schema.schema_id">{{schema.schema_name}}</option>
          </select>
          <span class="highlight"></span>
          <label class="did-floating-label-select">{{'CREDENTIAL_TYPE' | translate}}</label>
        </div>
      </div>
    </div>
  </div>

  <hr class="line">

  <!-- UI static table below -->
  <div class="table table-responsive table-hover overflow-scroll">
    <table class="table mb-4" cellpadding="0" cellspacing="0" *ngIf="issuedCredentials?.length">
      <thead>
        <tr>
          <th>{{'SR_NO' | translate}}</th>
          <th *ngFor="let head of tableKeys">{{utilService.variableNameToReadableString(head)}}</th>
          <th>{{'VIEW' | translate}}</th>
          <th>{{'STATUS' | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of tableData; let i = index">
          <td>{{i+1}}</td>
          <td *ngFor="let item of tableKeys">{{row?.credentialSubject[item] || '-'}}</td>
          <td>
            <i class="fa fa-eye img-btn pr-3 text-blue cursor-pointer" title="view" (click)="viewCredential(issuedCredentials[i])"></i>
          </td>
          <td>
            <span *ngIf="row?.status === 'ISSUED'" class="badge badge-primary fs-14">{{'ISSUED' | translate}}</span>
            <span *ngIf="row?.status === 'EXPIRED'" class="badge badge-secondary fs-14">{{'EXPIRED' | translate}}</span>
            <span *ngIf="row?.status === 'REVOKED'" class="badge badge-danger fs-14">{{'REVOKED' | translate}}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <br>

  <h5 class="text-center mt-4" *ngIf="!isLoading && !issuedCredentials.length">{{'NO_RECORDS_FOUND' | translate }}</h5>
  <ng-container *ngIf="isLoading">
    <br>
    <div class="text-center pt-4">
      <div class="spinner-border" role="status">
        <span class="sr-only">{{'LOADING' | translate }}</span>
      </div>
      <div class="text-center">
        {{'LOADING_PLEASE_WAIT' | translate}}
      </div>
    </div>
  </ng-container>
</div>
<div class="d-flex justify-content-end align-items-start p-2 pb-3 pt-5 table-footer"
  *ngIf="issuedCredentials?.length > pageSize">
  <ngb-pagination class="ml-2" [collectionSize]="issuedCredentials?.length" [(page)]="page" [pageSize]="pageSize"
    [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="pageChange()">
  </ngb-pagination>
</div>


<div class="text-center" *ngIf="isBackdropLoader">
  <div class="center-loading">
    <div class="spinner-border">
    </div>
  </div>
</div>