<main class="p-0 pl-2 bg-sch-img col-sm-9" style="margin-top: 90px;">
</main>
<div class="brown-Shade-0 fs-20 pb-2 pt-3">Duplicate Data</div>
  <div class="fs-16 brown-shade-4 pb-4">* Duplicate Data enables you to see the list of students who have been enrolled into 2 or more schools.</div>
  <div class="card-bx">
    <div class="d-flex flex-justify-between pb-3 align-item-baseline">
        <div class="fs-14"><span class="brown-Shade-5"><span class="fs-20 brown-Shade-5 pr-2">1.</span>Student Name: </span><span class="font-600">Amit Gupta</span></div>
        <div class="fs-14"><span class="brown-Shade-5">Father's Name: </span><span class="font-600">Rahul Gupta</span></div>
        <div class="fs-14"><span class="brown-Shade-5">Contact No: </span><span class="font-600">9876568976</span></div>
        <div class="fs-14"><span class="brown-Shade-5">No. of Duplicate Entries: </span><span class="font-600">2</span></div>

    </div>
    <table cellspacing="1" cellpadding="1" width="90%" class="mx-5">
        <tr>
            <th>S.No.</th>
            <th>School Name</th>
            <th>Block</th>
            <th>District</th>
            <th>Principal</th>
            <th>Principal Contact No.</th>
            <th>Credential</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Navodaya Vidyalay</td>
            <td>Lucknow Block 1</td>
            <td>Lucknow</td>
            <td>Shanaya Gupta</td>
            <td>+91 987656719</td>
            <td><a href="#">View</a></td> 
        </tr>
    </table>
  </div>

  <div class="card-bx">
    <div class="d-flex flex-justify-between pb-3 align-item-baseline">
        <div class="fs-14"><span class="brown-Shade-5"><span class="fs-20 brown-Shade-5 pr-2">2.</span>Student Name: </span><span class="font-600">Amit Gupta</span></div>
        <div class="fs-14"><span class="brown-Shade-5">Father's Name: </span><span class="font-600">Rahul Gupta</span></div>
        <div class="fs-14"><span class="brown-Shade-5">Contact No: </span><span class="font-600">9876568976</span></div>
        <div class="fs-14"><span class="brown-Shade-5">No. of Duplicate Entries: </span><span class="font-600">2</span></div>

    </div>
    <table cellspacing="1" cellpadding="1" width="90%" class="mx-5">
        <tr>
            <th>S.No.</th>
            <th>School Name</th>
            <th>Block</th>
            <th>District</th>
            <th>Principal</th>
            <th>Principal Contact No.</th>
            <th>Credential</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Navodaya Vidyalay</td>
            <td>Lucknow Block 1</td>
            <td>Lucknow</td>
            <td>Shanaya Gupta</td>
            <td>+91 987656719</td>
            <td><a href="#">View</a></td> 
        </tr>
    </table>
  </div>

  <div class="card-bx">
    <div class="d-flex flex-justify-between pb-3 align-item-baseline">
        <div class="fs-14"><span class="brown-Shade-5"><span class="fs-20 brown-Shade-5 pr-2">3.</span>Student Name: </span><span class="font-600">Amit Gupta</span></div>
        <div class="fs-14"><span class="brown-Shade-5">Father's Name: </span><span class="font-600">Rahul Gupta</span></div>
        <div class="fs-14"><span class="brown-Shade-5">Contact No: </span><span class="font-600">9876568976</span></div>
        <div class="fs-14"><span class="brown-Shade-5">No. of Duplicate Entries: </span><span class="font-600">2</span></div>

    </div>
    <table cellspacing="1" cellpadding="1" width="90%" class="mx-5">
        <tr>
            <th>S.No.</th>
            <th>School Name</th>
            <th>Block</th>
            <th>District</th>
            <th>Principal</th>
            <th>Principal Contact No.</th>
            <th>Credential</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Navodaya Vidyalay</td>
            <td>Lucknow Block 1</td>
            <td>Lucknow</td>
            <td>Shanaya Gupta</td>
            <td>+91 987656719</td>
            <td><a href="#">View</a></td> 
        </tr>
    </table>
  </div>

  <div class="card-bx">
    <div class="d-flex flex-justify-between pb-3 align-item-baseline">
        <div class="fs-14"><span class="brown-Shade-5"><span class="fs-20 brown-Shade-5 pr-2">4.</span>Student Name: </span><span class="font-600">Amit Gupta</span></div>
        <div class="fs-14"><span class="brown-Shade-5">Father's Name: </span><span class="font-600">Rahul Gupta</span></div>
        <div class="fs-14"><span class="brown-Shade-5">Contact No: </span><span class="font-600">9876568976</span></div>
        <div class="fs-14"><span class="brown-Shade-5">No. of Duplicate Entries: </span><span class="font-600">2</span></div>

    </div>
    <table cellspacing="1" cellpadding="1" width="90%" class="mx-5">
        <tr>
            <th>S.No.</th>
            <th>School Name</th>
            <th>Block</th>
            <th>District</th>
            <th>Principal</th>
            <th>Principal Contact No.</th>
            <th>Credential</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Navodaya Vidyalay</td>
            <td>Lucknow Block 1</td>
            <td>Lucknow</td>
            <td>Shanaya Gupta</td>
            <td>+91 987656719</td>
            <td><a href="#">View</a></td> 
        </tr>
    </table>
  </div>