.brown-shade-4{
    color: #4A4A4A;
}

.brown-Shade-5{
    color: #484848;
}

.card-bx{
    border: solid 1px #5C5C77;
    background: #F3F3F3;
    border-radius: 3px;
    padding: 16px;
    margin-bottom: 20px;
    box-shadow: 0px 3.852518081665039px 5.849999904632568px 0px #0000003D;
}

table{
    border-radius: 5px;
}

th{
    text-align: center;
    border: solid 1px #5C5C77;
    background: #D9D9D9;
    padding: 10px 18px;
    font-weight: 600;
    font-size: 11px;
}

td{
    border: solid 1px #5C5C77;
    padding: 10px;
    font-size: 12px;
}

.align-item-baseline{
    align-items: baseline;
}