.card {
    box-shadow: 0px 4px 15px 0px #00000040;
    border: solid 1px var(--primaryColor) !important;
    width: 326px;
    padding: 20px 10px;
    gap: 14px;
    margin-right: 34px;
    margin-bottom: 34px;
}

.d-flex {
    flex-wrap: wrap;
}

.fs-20 {
    font-size: 20px;
}

.fs-14 {
    font-size: 14px;
}

.brown-shade-1 {
    color: #8e909a;
}

.font-600 {
    font-weight: 600;
}

.btn {
    padding: 8px 15px;
    border-radius: 4px;
    font-size: 14px;
}

hr {
    border: solid 1px #acacac;
}

.fs-100 {
    font-size: 100px;
}

.success-bg {
    background: #39b367 !important;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

li {
    list-style-type: none;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-menu {
    left: -118px;
}

input[type="checkbox"] {
    width: 20px;
}

.no-border {
    border: none !important;
}

.float-label {
    color: #999;
    font-size: 10px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 5px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
  
  
  .did-floating-label-content { 
    position:relative; 
    margin-bottom:20px; 
  
    .did-floating-label {
        color:#1e4c82; 
        font-size:13px;
        font-weight:normal;
        position:absolute;
        pointer-events:none;
        left:31px;
        top:6px;
        padding:0 5px;
        background:#fff;
        transition:0.2s ease all; 
        -moz-transition:0.2s ease all; 
        -webkit-transition:0.2s ease all;
      }
      input, .did-floating-select {
        font-size:12px;
        display:block;
        width:100%;
        height:41px;
        padding: 0 20px;
        background: #fff;
        color: #323840;
        border-radius: 4px;
        box-sizing: border-box;
        border:1px solid #d2d2d2!important;
        &:focus{
          outline:2px solid #d2d2d2!important;
          ~ .did-floating-label{
            top:5px;
            font-size:13px;
          }
        }
      }
      .did-floating-label-select{
        top: -1px !important;
        font-size: 12px;
        color: #1e4c82 !important;
        background: #fff;
      }
  
      select.did-floating-select {
        -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
      }
      select.did-floating-select::-ms-expand {
        display: none;
      }
  
      input:not(:placeholder-shown) ~ .did-floating-label {
        top:25px;
        font-size:13px;
      }
      .did-floating-select:not([value=""]):valid ~ .did-floating-label {
        top:-8px;
        font-size:13px;
        left: 10px;
      }
      .did-floating-select[value=""]:focus ~ .did-floating-label {
        top:11px;
        font-size:13px;
      }
      .did-floating-select:not([multiple]):not([size]) {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='6' viewBox='0 0 8 6'%3E%3Cpath id='Path_1' data-name='Path 1' d='M371,294l4,6,4-6Z' transform='translate(-371 -294)' fill='%23003d71'/%3E%3C/svg%3E%0A");
          background-position: right 15px top 50%;
          background-repeat: no-repeat;
      }
  }
  