section {
  display: block;
  margin-top: 80px;
}
.sidebar {
  border-right: 1px solid #e5e5e5;
  height: 100vh;
}
.sidebarContainer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: center;
  flex-direction: column;
  // box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

  div {
    // color: #050c44;
    margin: 0.5rem 0.5rem 0.5rem 0;
    // font-weight: 400;
  }

  .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    min-width: 300px;
    border-radius: 0 8px 8px 0;
    border-left: 5px solid transparent;
    color: #5d7285 !important;
    // opacity: 0.5;
    font-weight: 400;

    i {
      padding: 0 15px;
      font-size: 17px;
      vertical-align: middle;
      color: #9c9c9c !important;
    }
  }

  .active {
    color: var(--primaryColor) !important;
    font-weight: 600 !important;
    border-left: 5px solid #ff740f;
    background: #e9f5fe;
    opacity: 1;
  }
  .active i {
    color: var(--primaryColor) !important;
    opacity: 1;
  }
}

.instructions {
  margin: 1rem;
  margin-bottom: 75px;
  .title {
    font-weight: 600;
    font-size: 14px;
    color: #ff740f !important;
  }

  .info {
    height: 1rem;
    width: 1rem;
    margin-right: 0.5rem;
  }
  ul {
    list-style-type: none;
    padding-inline-start: 0;
    font-size: 12px;

    li {
      font-size: 12.8193px;
      font-weight: 500;
      margin-top: 0.5rem;
      color: var(--primaryColor);
      background: rgb(180 179 177 / 12%);
      border-radius: 5px;
      padding: 10px;
      text-align: center;
      .fa {
        font-size: 16px;
        color: #414141;
      }

      position: relative;
      margin-top: 30px;
      z-index: 2;
    }
    li:first-child {
      margin-top: 0;
    }
    li:before {
      position: absolute;
      border: 1px solid #ccc;
      width: 0;
      height: 30px;
      display: block;
      content: "";
      left: 50%;
      z-index: 1;
      top: -30px;
    }
    li:first-child:before {
      display: none;
    }
  }
}

.fa-sign-out-alt {
  font-size: 19px !important;
  vertical-align: middle;
}

.w-25px {
  width: 25px;
}

.pl-39 {
  padding-left: 38px;
}
.disable,
.disable ~ .title {
  // color: #ccc;
  opacity: 0.7;
  cursor: default;
}
.bottom-fixed {
  position: fixed;
  bottom: 3%;
}

.bottom-btn {
  background: var(--primaryColor);
  color: #fff !important;
  margin-left: 16px !important;
  border-radius: 8px !important;
  min-width: 282px !important;

  i {
    color: #fff !important;
  }
}
// .sidebarContainer .active {
//   color: var(--primaryColor);
//   font-weight: 600;
//   border-left: 5px solid #ff740f;
//   background: #f2f2f2;
// }
