<div class="mt-6 container">
  <h5 class="fs-18">{{'REISSUE_CREDENTIALS' | translate}}</h5>
  <div class="row filter-bx py-4">
    <div class="col-md-3">
      <div class="floating-form">
        <div class="floating-label">
          <select class="floating-select" id="schema" aria-label="Default select example" [(ngModel)]="model.schema"
            (ngModelChange)="onModelChange()">
            <option [ngValue]="undefined" [disabled]="true">{{'SELECT_CREDENTIAL_TYPE' | translate}}</option>
            <option *ngFor="let schema of schemas" [value]="schema.schema_id">{{schema.schema_name}}</option>
          </select>
          <span class="highlight"></span>
          <label class="">{{'CREDENTIAL_TYPE' | translate}}</label>
        </div>
      </div>
    </div>
  </div>

  <hr class="line">

  <!-- UI static table below -->
  <div class="table table-responsive table-hover">
    <table class="table mb-4" cellpadding="0" cellspacing="0" *ngIf="correctionRequests?.length">
      <thead>
        <tr>
          <th>{{'SR_NO' | translate}}</th>
          <th *ngFor="let head of tableData[0]?.credentialSubject | keys">{{head}}</th>
          <th>{{'ACTION' | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of tableData; let i = index">
          <td>{{i+1}}</td>
          <td *ngFor="let item of row.credentialSubject | keys">{{row?.credentialSubject[item]}}</td>
          <td>
            <button class="btn btn-outline-primary" (click)="reIssueCredential(correctionRequests[i])">reissue</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <br>

  <h5 class="text-center mt-4" *ngIf="!isLoading && !correctionRequests.length">{{'NO_RECORDS_FOUND' | translate }}</h5>
  <ng-container *ngIf="isLoading">
    <br>
    <div class="text-center pt-4">
      <div class="spinner-border" role="status">
        <span class="sr-only">{{'LOADING' | translate }}</span>
      </div>
      <div class="text-center">
        {{'LOADING_PLEASE_WAIT' | translate}}
      </div>
    </div>
  </ng-container>
</div>
<div class="d-flex justify-content-end align-items-start p-2 pb-3 pt-5 table-footer"
  *ngIf="correctionRequests?.length > pageSize">
  <ngb-pagination class="ml-2" [collectionSize]="correctionRequests?.length" [(page)]="page" [pageSize]="pageSize"
    [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="pageChange()">
  </ngb-pagination>
</div>


<div class="text-center" *ngIf="isBackdropLoader">
  <div class="center-loading">
    <div class="spinner-border">
    </div>
  </div>
</div>