<div class="mt-6 container">
  <h5 class="fs-18">{{'REISSUE_CREDENTIALS' | translate}}</h5>
  <div class="row filter-bx py-4">
    <div class="col-md-3">
      <div class="floating-form">
        <div class="floating-label">
          <select class="floating-select" id="schema" aria-label="Default select example" [(ngModel)]="model.schema"
            (ngModelChange)="onModelChange()">
            <option [ngValue]="undefined" [disabled]="true">{{'SELECT_CREDENTIAL_TYPE' | translate}}</option>
            <option *ngFor="let schema of schemas" [value]="schema.schema_id">{{schema.schema_name}}</option>
          </select>
          <span class="highlight"></span>
          <label class="">{{'CREDENTIAL_TYPE' | translate}}</label>
        </div>
      </div>
    </div>
  </div>

  <hr class="line">

  <!-- UI static table below -->
  <div class="table table-responsive table-hover">
    <table class="table mb-4" cellpadding="0" cellspacing="0" *ngIf="issuedCredentials?.length">
      <thead>
        <tr>
          <th>{{'SR_NO' | translate}}</th>
          <th *ngFor="let head of tableData[0]?.credentialSubject | keys">{{head}}</th>
          <th>{{'ACTION' | translate}}</th>
          <!-- <th>View</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of tableData; let i = index">
          <td>{{i+1}}</td>
          <td *ngFor="let item of row.credentialSubject | keys">{{row?.credentialSubject[item]}}</td>
          <td>
            <button class="btn btn-outline-primary" (click)="showCredentialDetails(row)">reissue</button>
          </td>
          <!-- <td><i class="fa fa-eye brown-shade-2 cursor-pointer" (click)="showGrievanceDetails(row.id)"></i></td> -->
        </tr>
      </tbody>
    </table>
  </div>
  <br>

  <h5 class="text-center mt-4" *ngIf="!isLoading && !issuedCredentials.length">{{'NO_RECORDS_FOUND' | translate }}</h5>
  <ng-container *ngIf="isLoading">
    <br>
    <div class="text-center pt-4">
      <div class="spinner-border" role="status">
        <span class="sr-only">{{'LOADING' | translate }}</span>
      </div>
      <div class="text-center">
        {{'LOADING_PLEASE_WAIT' | translate}}
      </div>
    </div>
  </ng-container>
</div>
<div class="d-flex justify-content-end align-items-start p-2 pb-3 pt-5 table-footer"
  *ngIf="issuedCredentials?.length > pageSize">
  <ngb-pagination class="ml-2" [collectionSize]="issuedCredentials?.length" [(page)]="page" [pageSize]="pageSize"
    [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="pageChange()">
  </ngb-pagination>
</div>


<div class="text-center" *ngIf="isBackdropLoader">
  <div class="center-loading">
    <div class="spinner-border">
    </div>
  </div>
</div>


<ng-template #grievanceDetailsModal tabindex="-1" role="dialog" aria-labelledby="details-modal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content no-border">
      <div class="modal-body">
        <h5 class="text-underline">{{'STUDENT_DETAILS' | translate}}:</h5>
        <div class="row">
          <div>Subject: {{selectedGrievance?.grvSubject}}</div>
          <div>Description: {{selectedGrievance?.grvDesc}}</div>
        </div>
        <div class="text-center">
          <button type="button" class="btn btn-success success-bg text-white mt-3" data-dismiss="modal"
            (click)="closeModal('details')">{{'OK' | translate}}</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>


<ng-template #credentialDetailsModal tabindex="-1" role="dialog" aria-labelledby="details-modal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content no-border">
      <div class="modal-body">
        <h5 class="text-underline">{{'STUDENT_DETAILS' | translate}}:</h5>
        <!-- <div class="row">
          <div *ngFor="let field of selectedClaimDetails | keyvalue" class="col-6 pt-3">
            <label [for]="field.key">{{utilService.variableNameToReadableString(field.key)}}</label>
            <input type="text" class="form-control" [name]="field.key" [value]="field.value" disabled />
          </div>
        </div> -->

        <form [formGroup]="reissueForm" (ngSubmit)="submitReissueForm($event)">
          <div class="row">
            <div *ngFor="let field of fields" class="col-6 pt-3">
              <label [for]="field.key">{{field.label}}</label>
              <input type="text" [formControlName]="field.key" class="form-control" [name]="field.key" [value]="field.value" />
            </div>
          </div>
          <div class="d-flex justify-content-center mt-3">
            <button class="btn btn-primary" type="submit">{{'SUBMIT' | translate}}</button>
          </div>
        </form>
        <!-- <div class="text-center">
          <button type="button" class="btn btn-success success-bg text-white mt-3" data-dismiss="modal"
            (click)="closeModal('details')">{{'OK' | translate}}</button>
        </div> -->
      </div>
    </div>
  </div>
</ng-template>