<div id="sect1" class="container">
  <div>
    <h1 class="text-center page-title">
      <span class="text-blue text-thin-underline">{{title}}</span>
    </h1>
    <p class="text-center gray-shade-0">{{'PORTAL_WELCOME_NOTE' | translate}}</p>
    <div class="pb-5 pt-3 text-center text-underline">{{'SELECT_YOUR_DEPARTMENT' | translate }} </div>
    <div class="card-cover">
      <div class="card-bx" [ngClass]="{'cursor-pointer': department?.id}" *ngFor="let department of departments"
        (click)="navigateToOnboarding(department.id)">
        <img [src]="department?.img" alt="" class="img-fluid mt-2" [class]="department.class"
          title="{{ department.id ? department.name : 'COMING_SOON' | translate }}">
        <h5 class="text-center mt-2">{{department?.name}}</h5>
      </div>
    </div>
  </div>
</div>