.account-card {
  display: flex;
  padding: 18px;
  background-color: var(--primaryColor);
  color: #fff;
  border-radius: 13px;
  p {
    margin-left: 8px;
    color: #fff;
    text-transform: capitalize;
  }

  i {
    font-size: 3rem;
  }
}

.user-info {
  .row {
    padding: 0 12px 12px 12px;
  }
  .value {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
}

.check-mark {
  color: #6DEF30;
}
