<div class="mt-6 container">
  <h5 class="fs-18">{{'ACCOUNT' | translate}}</h5>
  <p *ngIf="!isAadhaarKYCCompleted && !isUDISEVerified" class="text-danger">{{'PLEASE_COMPLETE_YOUR_E_KYC_AND_UDISE' | translate}}</p>
  <p *ngIf="!isAadhaarKYCCompleted && isUDISEVerified" class="text-danger">{{'PLEASE_COMPLETE_YOUR_E-KYC_TO_ISSUE' | translate}}</p>
  <p *ngIf="!isUDISEVerified && isAadhaarKYCCompleted" class="text-danger">{{'PLEASE_COMPLETE_YOUR_UDISE_VERIFICATION_TO_ISSUE' | translate}}</p>
  <div class="row">
    <div class="col-3">
      <div class="account-card">
        <i class="fa fal fa-user-circle fa-lg"></i>
        <p>{{accountDetails?.name}}</p>
      </div>
    </div>
    <div class="col-9 user-info">
      <div class="row">
        <div class="col-3 title d-flex align-items-center">{{'EMAIL_ID' | translate}}</div>
        <div class="col-5 value text-grey-color">{{accountDetails?.email || '---'}}</div>
      </div>
      <div class="row">
        <div class="col-3 title d-flex align-items-center">{{'MOBILE_NUMBER' | translate}}</div>
        <div class="col-5 value text-grey-color">{{accountDetails?.username}}</div>
      </div>
      <div class="row">
        <div class="col-3 title d-flex align-items-center" [ngClass]="{'text-danger': !accountDetails?.kyc_aadhaar_token}">{{'AADHAAR_ID' | translate}}</div>
        <div class="col-5 value text-grey-color">
          <span *ngIf="isAadhaarKYCCompleted">{{accountDetails?.kyc_aadhaar_token || '---'}}</span>
        </div>
        <button *ngIf="!isAadhaarKYCCompleted" class="btn btn-primary ml-2" (click)="completeKYC()">{{'COMPLETE_KYC' | translate}}</button>
      </div>
      <div class="row">
        <div class="col-3 title d-flex align-items-center" [ngClass]="{'text-danger': !accountDetails?.school_id}">{{'SCHOOL_ID' | translate}}</div>
        <div class="col-5 value text-grey-color">
          <span *ngIf="isUDISEVerified">{{accountDetails?.school_id || '---'}}</span>
        </div>
        <button *ngIf="!isUDISEVerified" class="btn btn-primary ml-2" (click)="verifyUDISE()">{{'VERIFY_UDISE' | translate}}</button>
      </div>
      <div class="row">
        <div class="col-3 title d-flex align-items-center" [ngClass]="{'text-danger': !accountDetails?.school_name}" >{{'School Name' | translate}}</div>
        <div class="col-5 value text-grey-color">{{accountDetails?.school_name || '---'}}</div>
      </div>
    </div>
  </div>
</div>


<ng-template #successModal tabindex="-1" role="dialog" aria-labelledby="successModal">
  <div class="animate-bottom">
    <div class="modal-body">
      <p class="text-center mb-0 p-2 fs-16">
        <i style="color: green" class="fa far fa-check-circle"></i>
        &nbsp;&nbsp;&nbsp;{{modalMessage}}
      </p>
    </div>
  </div>
</ng-template>